<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret_</title>
</head>
<body>
    <main>
        <h1>Search results</h1>
        <div>
            <% if(locals.messages){ %>
                <% messages.forEach(msg => { %>
                    <div>
                        <img src="/media/icons/acc.svg" alt="">
                        <p><%= currentUser ? `@${msg.username}` : '@Anonymous' %></p>
                        <p><%= msg.message %></p>
                        <p><%= msg.date %></p>
                        <div>
                            <div class="likes">
                                <form action="<%= `/like-message/${msg.id}` %>" method="post">
                                    <input type="submit" value="Like">
                                </form>
                                <p><%= msg.likes %></p>
                            </div>
                            <a href="<%= `/comments/message/${msg.id}` %>">Comments</a>
                        </div>
                        <% if(typeof currentUser !== 'undefined' && currentUser.admin) {%>
                        <form action="<%= `/delete-message/${msg.id}` %>" method="post">
                            <input type="submit" value="delete">
                        </form>
                        <%}%>
                    </div>   
                <% }); %>
            <% } %>
        </div>
    </main>
</body>
</html>